body{
    background-color: aliceblue;
    color: black;
}
h1{
    color: grey;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: aqua;
}
ul>li:hover{
    color:pink ;
}
ul li::before{
    content: "🤯";
}
a:after{
    content:"🤩";
}
p::first-letter{
    font-size: 200%;
    color: blue;
}
p:not(:first-of-type){
    text-decoration: underline;
}


    